
/*
.horz-nav {
  position: fixed;
  list-style-type: none;
  overflow: auto;
  width: 8%;
  color: rgb(255, 255, 255);
  background-color: #1a1c1a;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch; 
  padding: 0;
  padding-top: 50px;
}

.horz-nav a {
  font-size: 25px;
  text-align: center;
  width: 100%;
  
  box-sizing: border-box;
  display: block;
}

.horz-nav a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

*/


.navbar {
    
    background-color: #1a1c1a;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
    left: 0;
}

table, th, td {
  border:1px solid black;
}
th, td {
  padding: 20px;

}

/*Work on this to create reminder button*/
.alert {
  display: none;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: italic;
}

.table1 {
  border-collapse: collapse;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
}

.months {
  background-color: #6075db;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  position: relative;
    border: none;
}

.days{
  background-color: gray;
  list-style-type: none;
}

.list-elements {
    text-align: center;
}
.remind{
  background-color: #48ff00;
}

#text-box {
    border-radius:  25px;
    list-style: none;
    padding: 30px;
    border: 1px solid black;
    outline-style: solid;
}
#text-box2 {
    border-radius:  25px;
    list-style: none;
    padding: 30px;
    border: 1px solid black;
    outline-style: solid;
}

.list-elements li {
    border-radius:  25px;
    list-style: none;
    padding: 30px;
    border: 1px solid black;
    outline-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
}

.add {
    border-radius:  25px;
    width: 100%;
    padding: 30px;
    border: 1px solid black;
    outline-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    text-align: left;
}


#main {
    padding: 16px;
    margin-top: 50px;
    text-align: center;
  }


.button-85 {
  padding: 40px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size:200%;
  
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.list-wrapper {
    display: flex;
    width: 100%;
}

#reminder-list {
    flex: 1;
    width: 100%;
}


